<%- include('header.ejs') %>
    <h1> hello </h1>

    <form action="/" method="POST">
        username<input type="text" id="username" name="username"><br>
        password<input type="password" name="password" id="password"><br>
        <input type="submit" value="login">
    </form>

    <h2><%=time%></h2>
    <% if(blogs.length) { %>
        <% blogs.forEach(article => {%>
            <h3>標題: <%=article.title%></h3>
            <p>作者: <%=article.author%></p>
        <% }) %>
    <% } %>
<%- include('footer.ejs') %>